<div *ngIf="!saved">
    <div class="flex">
        <div class=" w-80">
          <div class="row" style="align-items:center" *ngIf="!editCombinato">
            <div class="col-sm-2">
              Data Aprrovazione CDA*:
            </div>
            <div class="col-sm-10">
              <app-date-picker format="DD/MM/YYYY" [(ngModel)]="esternalizzazione.approvazioneCDA" 
              placeholder="{{esternalizzazione.approvazioneCDA}}"></app-date-picker>
               
              <h5  *ngIf="errApprovazioneCDA" style="color:red;">
                  Campo Obbligatorio
              </h5>
            </div>
          </div>
      
          <div class="row" style="align-items:center">
            <div class="col-sm-2">
              Data Probabile Inizio Esternalizzazione* :
            </div>
            <div class="col-sm-10">
              <app-date-picker format="DD/MM/YYYY" [(ngModel)]="esternalizzazione.dataProbabileInizioEsternalizzazione"
              placeholder="{{esternalizzazione.dataProbabileInizioEsternalizzazione}}"
              [disabled]="editCombinato"></app-date-picker>
               
              <h5  *ngIf="errDataProbalibileInizio" style="color:red;">
                  Campo Obbligatorio
              </h5>
            </div>
          </div>
      
          
          <div class="row" style="align-items: center;">
            <div class="col-sm-2" >
              Responsabile Controllo :
            </div>
            <div class="col-sm-10">
              <mat-form-field class="select w-70">
        
                <mat-select
                [(ngModel)]="esternalizzazione.responsabileControlloEsternalizzazione"
                [disabled]="editCombinato"
                >
        
                <mat-option>--</mat-option>
                <mat-option *ngFor="let conoRE of listaConoRE" [value]="conoRE.username">
                  {{conoRE.cognome}} - {{conoRE.nome}}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </div>
          </div>
        
          <div class="row" style="align-items:center">
            <div class="col-sm-2">
              Beneficio Conseguibile:
            </div>
            <div class="col-sm-10">
              <mat-form-field class="select w-70">
                <mat-select
                  [(ngModel)]="esternalizzazione.beneficioConseguibile"
                  [disabled]="editCombinato"
                >
                  <mat-option>--</mat-option>
                  <mat-option
                    *ngFor="let benefici of listaBefici"
                    [value]="benefici.codice"
                  >
                    {{ benefici.descrizione }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
      
          <div class="row" style="align-items:center">
            <div class="col-sm-2">
              Nome Fornitore* :
            </div>
            <div class="col-sm-10">
                <mat-form-field class="w-70">
                  <input
                    type="text"
                    aria-label="Assignee"
                    [disabled]="editCombinato"
                    matInput
                    [formControl]="myControl"
                    [matAutocomplete]="auto"
                    [(ngModel)]="esternalizzazione.nomeFornitore"
                  />
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" [disableRipple]="editCombinato">
                    <mat-option
                      *ngFor="let option of (filteredOptions | async)"
                      [value]="option.ragSoc1"
                      [disabled]="editCombinato"
                    >
                      {{ option.ragSoc1 }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                 
              <h5  *ngIf="errNomeFornitore" style="color:red;">
                  Campo Obbligatorio
              </h5>
            </div>
          </div>
      
          <br />
      
          <div class="row" style="align-items:center">
            <div class="col-sm-2">
              Affidabilità e Competenze Fornitore:
            </div>
            <div class="col-sm-10">
              <input
                type="text"
                [(ngModel)]="esternalizzazione.affidabilitaCompetenzaFornitore"
                [disabled]="editCombinato"
              />
            </div>
          </div>
      
          <br />
      
          <div class="row" style="align-items:center">
            <div class="col-sm-2">
              Spazio Economico Europeo* :
            </div>
            <div class="col-sm-10">
              <mat-form-field class="select w-70">
                <mat-select
                  [(ngModel)]="esternalizzazione.spazioEconomicoEuropeo"
                  [disabled]="editCombinato"
                >
                  <mat-option>--</mat-option>
                  <mat-option value="Si">
                    Si
                  </mat-option>
                  <mat-option value="No">
                    No
                  </mat-option>
                </mat-select>
              </mat-form-field>
               
              <h5  *ngIf="errSpazioEconomico" style="color:red;">
                  Campo Obbligatorio
              </h5>
            </div>
          </div>
      
          <div class="row" style="align-items:center">
            <div class="col-sm-2">
              Rischiosità Esternalizzazione* :
            </div>
            <div class="col-sm-10">
              <mat-form-field class="select w-70">
                <mat-select
                  [(ngModel)]="esternalizzazione.rischiositaEsternalizzazione"
                  [disabled]="editCombinato"
                >
                  <mat-option>--</mat-option>
                  <mat-option
                    *ngFor="let rischiosita of listaRischiositaEsternalizzazione"
                    [value]="rischiosita.codice"
                  >
                    {{ rischiosita.descrizione }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
               
              <h5  *ngIf="errRischiosita" style="color:red;">
                  Campo Obbligatorio
              </h5>
            </div>
          </div>
      
          <div class="row" style="align-items: center">
            <div class="col-sm-2">
              Valutazione Rischio Esternalizzazione :
            </div>
            <div class="col-sm-10">
              <input
                type="text"
                [(ngModel)]="esternalizzazione.valutazioneRischioEsternalizzazione"
                [disabled]="editCombinato"
              />
            </div>
          </div>
      
          <div class="row" style="align-items: center">
            <div class="col-sm-2">
              Verifica Conflitti Interessi* :
            </div>
            <div class="col-sm-10">
              <mat-form-field class="select w-70">
                <mat-select
                  [(ngModel)]="esternalizzazione.verificaConflittiInteressi"
                  [disabled]="editCombinato"
                >
                  <mat-option>--</mat-option>
                  <mat-option
                    *ngFor="let conflitti of listaConflittiInteressi"
                    [value]="conflitti.codice"
                  >
                    {{ conflitti.descrizione }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
               
              <h5  *ngIf="errVerificaConflitti" style="color:red;">
                  Campo Obbligatorio
              </h5>
            </div>
          </div>
      
          <div class="row" style="align-items: center">
            <div class="col-sm-2">
              Rischi BC* :
            </div>
      
            <div class="col-sm-10">
              <mat-form-field class="select w-70">
                <mat-select
                  [(ngModel)]="esternalizzazione.rischiBC"
                  [disabled]="editCombinato"
                >
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let bc of listaRischiBC" [value]="bc.codice">
                    {{ bc.descrizione }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
               
              <h5  *ngIf="errRischiBC" style="color:red;">
                  Campo Obbligatorio
              </h5>
            </div>
          </div>
      
          <div class="row" style="align-items: center">
            <div class="col-sm-2">
              Rispetto Remunerazione:
            </div>
            <div class="col-sm-10">
              <mat-form-field class="select w-70">
                <mat-select
                  [(ngModel)]="esternalizzazione.rispettoRemunerazione"
                  [disabled]="editCombinato"
                >
                  <mat-option>--</mat-option>
                  <mat-option value="Si">
                    Si
                  </mat-option>
                  <mat-option value="No">
                    No
                  </mat-option>
                </mat-select>
              </mat-form-field>
               
              <h5  *ngIf="errRemunerazione" style="color:red;">
                  Campo Obbligatorio
              </h5>
            </div>
          </div>
      
          
        </div>
  </div>
 
</div>

<br/>


<div *ngIf="gif" class="flex gif">
    <img src="https://it.dplay.com/00406/static/resources/images/spinner.gif" />
  </div>

<div *ngIf="savedMessage">
    <h4>
      ESTERNALIZZAZIONE SALVATA CORRETTAMENTE
    </h4>
    <button routerLink="" routerLinkActive="router-link-active" class="btn edit-btn" >
      OK
    </button>
</div>