<div class=" flex div-login">
  <form [formGroup]="login">

    <H3>WEST LOGIN</H3>

    <br/>

    <mat-form-field>
      <input matInput placeholder="username" formControlName="username">
    </mat-form-field>

    <br/>
    <mat-form-field>
     <input matInput placeholder="password" formControlName="password">
    </mat-form-field>

    <br/>

    <div class="flex center">
        <input type="submit" class="btn login-button" (click)="checkLog()" value="Login">
    </div>

  </form>

</div>
