  /* classi css per text-bar */

  body {
    font-family: Arial;
  }

  * {
    box-sizing: border-box;
  }



  .f-20{
    font-size: 20px;
  }

  .border{
    border-style: solid;
    border-bottom-style: solid;
    border-color: black;
    border: 1px;
  }


  .edit-btn {
    background-color:#15BD17;
    color: white;
  }
  
  .edit-btn:hover {
    background-color: white;
    color: #15BD17;
    border: solid 0.5px;
    cursor: pointer;
  }