
<div>
  <br />

    <mat-tab-group>
      <mat-tab class="w-50" label="Esternalizzazioni">

        <app-search-bar></app-search-bar>

       <div *ngIf="view">
        <div class="div-title" *ngIf="user.responsabile === 'RE'">
          <button
            type="button"
            class="btn edit-btn"
            style="margin-left:20px;margin-top: 10px;"
           [routerLink]="['/esternalizzazione-dett' , 'new' ]" 
           routerLinkActive="router-link-active" 
          >
            Nuova Esternalizzazione
          </button>
        </div>
       </div>

        <app-esternalizzazioni></app-esternalizzazioni>

      </mat-tab>
      <mat-tab label="Lista Task">

        <app-task></app-task>

      </mat-tab>
    </mat-tab-group>
</div>
