table {
  width: 100%;
}


.edit-btn {
  background-color:#15BD17;
  color: white;
}

.edit-btn:hover {
  background-color: white;
  color: #15BD17;
  border: solid 0.5px;
  cursor: pointer;
}