.resp-btn {
    background-color:#E02A2A;
    color: white;
  }
  
  .resp-btn:hover {
    background-color: white;
    color: #E02A2A;
    border: solid 0.5px;
    cursor: pointer;
  }

  .edit-btn {
    background-color:#15BD17;
    color: white;
  }
  
  .edit-btn:hover {
    background-color: white;
    color: #15BD17;
    border: solid 0.5px;
    cursor: pointer;
  }


  .animation-file:hover {
    background-color: #d8d8d8;
  }