<div *ngIf="new">
    <div *ngIf="view">
    
        <div class="allegati padding  m-t10">  
            <h4>Allegati Nomina Responsabile Controllo</h4>
        
                <div *ngIf="fileNomina.length!==0">
                    <div class="animation-file" *ngFor="let file of fileNomina, let i = index" layout="row" layout-wrap layout-align="space-between center">
                        <div class="row m-t10" style="align-items: center;">
                            <div class="col-sm-10"> 
                                <a href="http://localhost:8080/West/rest/file/download/{{file.idAllegato}}">{{file.nomeFileOrigine}}</a>
                                </div>
                                <div class="col-sm-2">
                                <button type="button" class="btn resp-btn btn-xs"
                                                (click)="rimuoviAllegato(file, i)">
                                    <span class="glyphicon glyphicon-trash"></span> Rimuovi
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="fileNomina.length === 0">
                        Nessun File Presente
                </div>
    
    
                    <!-- File input for upload without using the plugin. -->
                    <input id="uploadFile1" type="file" />
                    <!-- button to trigger the file upload when submitted -->
                    <button type="button" class="btn edit-btn btn-s" (click)="upload('NOMINA',1)">
                    Invia
                    </button> 
            
        </div>
    
        <br>
        
        <div class="allegati padding m-t10 ">
            <h4>
            Allegati Piano Reinternalizzazione
            </h4>
            <div *ngIf="filePiano.length !== 0">
            <div class="animation-file" *ngFor="let file of filePiano, let i = index">
                <div class="row m-t10" style="align-items: center;" >
                    <div class="col-sm-10"> 
                        <a href="http://localhost:8080/West/rest/file/download/{{file.idAllegato}}">{{file.nomeFileOrigine}}</a>
                        </div>
                        <div class="col-sm-2">
                        <button type="button" class="btn resp-btn btn-xs"
                                        (click)="rimuoviAllegato(file, i)">
                            <span class="glyphicon glyphicon-trash"></span> Rimuovi
                        </button>
                    </div>
                </div>
            </div>
            </div>
        
            <div *ngIf="filePiano.length === 0">
            Nessun File Presente
            </div>
            <!-- File input for upload without using the plugin. -->
                <input id="uploadFile2" type="file" />
            <!-- button to trigger the file upload when submitted -->
                <button type="button" class="btn edit-btn btn-s" (click)="upload('PIANO',2)">
                Invia
                </button> 
        </div>
    
        <br>
    
        <!-- *ngIf="(utente.zzenteacq ==='052' || utente.zzenteacq ==='059')" -->
    
        <div class="allegati padding  m-t10" >
    
            <h4>Allegato Contratto</h4>
        
                <div *ngIf="fileContratto.length !==0">
                    <div class="animation-file" *ngFor="let file of fileContratto, let i = index">
                        <div class="row m-t10" style="align-items: center;">
                            <div class="col-sm-10"> 
                                <a href="http://localhost:8080/West/rest/file/download/{{file.idAllegato}}">{{file.nomeFileOrigine}}</a>
                                </div>
                                <div class="col-sm-2">
                                <button type="button" class="btn resp-btn btn-xs"
                                                (click)="rimuoviAllegato(file, i)">
                                    <span class="glyphicon glyphicon-trash"></span> Rimuovi
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                
                    <div *ngIf="fileContratto.length === 0">
                        Nessun File Presente
                    </div>
            <!-- File input for upload without using the plugin. -->
                <input id="uploadFile3" type="file"/>
                <!-- button to trigger the file upload when submitted -->
                <button type="button" class="btn edit-btn btn-s" (click)="upload('CONTRATTO',3)">
                Invia
                </button> 
        
        </div>
    
        <br>
    
        <div class="allegati padding  m-t10">
            <h4>
            Allegati Controllo Operativo
            </h4>
            <div *ngIf="fileControllo.length!==0">
                <div class="animation-file" *ngFor="let file of fileControllo, let i = index">
                    <div class="row m-t10" style="align-items: center;" >
                        <div class="col-sm-10"> 
                            <a href="http://localhost:8080/West/rest/file/download/{{file.idAllegato}}">{{file.nomeFileOrigine}}</a>
                            </div>
                            <div class="col-sm-2">
                            <button type="button" class="btn resp-btn btn-xs"
                                            (click)="rimuoviAllegato(file, i)">
                                <span class="glyphicon glyphicon-trash"></span> Rimuovi
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        
            <div *ngIf="fileControllo.length === 0">
                Nessun File Presente
            </div>
            <!-- File input for upload without using the plugin. -->
                <input id="uploadFile4" type="file" />
            <!-- button to trigger the file upload when submitted -->
                <button type="button" class="btn edit-btn btn-s" (click)="upload('CONTROLLO',4)">
                Invia
                </button> 
    
        </div>
    
        <br>
    
        <div class="allegati padding  m-t10">
            <h4>
            Allegati Oggetto Attivita'
            </h4>
            <div *ngIf="fileOggetto.length!==0">
                <div class="animation-file" *ngFor="let file of fileOggetto, let i = index">
                    <div class="row m-t10" style="align-items: center;" style="align-items: center;">
                        <div class="col-sm-10"> 
                            <a href="http://localhost:8080/West/rest/file/download/{{file.idAllegato}}">{{file.nomeFileOrigine}}</a>
                            </div>
                            <div class="col-sm-2">
                            <button type="button" class="btn resp-btn btn-xs"
                                            (click)="rimuoviAllegato(file, i)">
                                <span class="glyphicon glyphicon-trash"></span> Rimuovi
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        
            <div *ngIf="fileOggetto.length === 0">
                Nessun File Presente
            </div>
            <!-- File input for upload without using the plugin. -->
                <input id="uploadFile5" type="file" />
            <!-- button to trigger the file upload when submitted -->
                <button type="button" class="btn edit-btn btn-s" (click)="upload('OGGETTO',5)">
                Invia
                </button> 
    
        </div>
    
        <br>
    
        <div class="allegati padding  m-t10">
            <h4>
            Allegati Motivazione Esternalizzazione
            </h4>
            <div *ngIf="fileMotivazione.length!==0">
                <div class="animation-file" *ngFor="let file of fileMotivazione, let i = index">
                    <div class="row m-t10" style="align-items: center;">
                        <div class="col-sm-10"> 
                            <a href="http://localhost:8080/West/rest/file/download/{{file.idAllegato}}">{{file.nomeFileOrigine}}</a>
                            </div>
                            <div class="col-sm-2">
                            <button type="button" class="btn resp-btn btn-xs"
                                            (click)="rimuoviAllegato(file, i)">
                                <span class="glyphicon glyphicon-trash"></span> Rimuovi
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        
            <div *ngIf="fileMotivazione.length === 0">
                Nessun File Presente
            </div>
            <!-- File input for upload without using the plugin. -->
            <input id="uploadFile6" type="file" />
            <!-- button to trigger the file upload when submitted -->
            <button type="button" class="btn edit-btn btn-s" (click)="upload('MOTIVAZIONE',6)">
            Invia
            </button> 
    
        </div>
    
    </div>
    
    <br>
    
    <div *ngIf="!view">
        <img src="https://it.dplay.com/00406/static/resources/images/spinner.gif" />
    </div>
    
    
</div>