<div #spacer></div>

<div stickyThing [spacer]="spacer" style="z-index:5;background-color: white;" >
  <div style="margin-bottom: 10px;" class="d-flex center m-t10">
    <button class="btn previous-page-btn" [routerLink]="[routerLink]" routerLinkActive="router-link-active"  >Torna alla lista</button>
    <button class="btn edit-btn m-l10" (click)="activeEditMode()" *ngIf="edit"> Edit</button>
    <button class="btn edit-btn m-l10" *ngIf="!edit" (click)="saveChanges()">Salva Modifiche</button>
  </div>
</div>
