<div *ngIf="view">

  <div #spacer></div>

  <div stickyThing [spacer]="spacer" style="z-index:5;background-color: white; align-items: center;" class="flex" >
    <h3 style="margin-right:8%;" class="bordered padding m-t10">
      Dettaglio Esternalizzazione N. {{ esternalizzazione.idEsternalizzazione }}
    </h3>
    <div style="margin-bottom: 10px;" class="d-flex center m-t10">
      <button class="btn previous-page-btn" [routerLink]="[routerLink]" routerLinkActive="router-link-active"  >Torna alla lista</button>
      <button class="btn edit-btn m-l10" (click)="activeEditMode()" *ngIf="button"> Edit</button>
      <button class="btn edit-btn m-l10" *ngIf="!button && id !== 'new'" (click)="saveChanges()">Salva Modifiche</button>
      <button class="btn edit-btn m-l10" *ngIf="saveNewButton && id === 'new'" (click)="saveNewChanges()">Salva Modifiche</button>
      <button class="btn resp-btn m-l10" *ngIf="esternalizzazione.stato === '2' || esternalizzazione.stato === '3'">Assegna Responsabile</button>
      <button class="btn edit-btn m-l10" *ngIf="esternalizzazione.stato === '3'">Approva</button>
    </div>
  </div>
  
  <mat-tab-group  [selectedIndex]="selectedIndex">
    <!-- fase di inserimento -->
    <mat-tab label="Inserimento">
      <app-fase-inserimento  [esternalizzazione]="esternalizzazione" [edit]="edit" >
      </app-fase-inserimento>
    </mat-tab>

    <!-- fase di valutazione -->
    <mat-tab label="Fase Valutazione">
      <app-fase-valutazione-dett  [esternalizzazione]="esternalizzazione" 
      [edit]="edit">
      </app-fase-valutazione-dett>
    </mat-tab>

    <!-- fase di predisposizione -->
    <mat-tab label="Fase Predisposizione">
      <app-fase-predisposizione-dett  [esternalizzazione]="esternalizzazione" [edit]="edit">
      </app-fase-predisposizione-dett>
    </mat-tab>

    <!-- file allegati -->
    <mat-tab label="Allegati">
      <app-file-allegati></app-file-allegati>
    </mat-tab>
  </mat-tab-group>
</div>

<div *ngIf="!view" class="flex gif">
  <img src="https://it.dplay.com/00406/static/resources/images/spinner.gif" />
</div>
