.previous-page-btn {
    background-color: #09357a;
    color: white;
  }
  .previous-page-btn:hover {
    border: solid 0.5px;
    background-color: white;
    color: #09357a;
    cursor: pointer;
  }
  .edit-btn {
    background-color:#15BD17;
    color: white;
  }
  
  .edit-btn:hover {
    background-color: white;
    color: #15BD17;
    border: solid 0.5px;
    cursor: pointer;
  }
  
  .resp-btn {
    background-color:#E02A2A;
    color: white;
  }
  
  .resp-btn:hover {
    background-color: white;
    color: #E02A2A;
    border: solid 0.5px;
    cursor: pointer;
  }
  