
<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav" style="width:100%">
      <li class="nav-item">
        <a routerLink="home" class="nav-link">HOME</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropbtn">FASI
          <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-content">
          <a routerLink="fase-valutazione">VALUTAZIONE</a>
          <a routerLink="fase-predisposizione">PREDISPOSIZIONE</a>
          <a routerLink="fase-val-outsourcing">VALUTAZIONE OUTSOURCING</a>
          <a routerLink="fase-scad-outsourcing">SCADENZA OUTSOURCING</a>
        </div>
      </li>

      <li class="nav-item">
        <a routerLink="estrazione" class="nav-link">ESTRAZIONE</a>
      </li>
      <li class="nav-item" >
        <a routerLink="lista-task-applicativi" class="nav-link">LISTA TASK APPLICATIVI</a>
      </li>

    </ul>

    <div class="w-30">
      <app-user></app-user>
    </div>

    <!-- <img src="https://upload.wikimedia.org/wikipedia/it/0/0f/Logo_Sara_Assicurazioni.png"> -->
    <img src="West/logoSara.png">

  </nav>
