<div *ngIf="resp" style="margin-top:10px;">
  <table mat-table  [dataSource]="dataSource">

    <!-- id Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idEsternalizzazione}} </td>
    </ng-container>

    <!-- data creazione Column -->
    <ng-container matColumnDef="DATA CREAZIONE">
      <th mat-header-cell *matHeaderCellDef> DATA CREAZIONE </th>
      <td mat-cell *matCellDef="let element"> {{element.dataCreazioneEsternalizzazione}} </td>
    </ng-container>

    <!-- titolo Column -->
    <ng-container matColumnDef="TITOLO">
      <th mat-header-cell *matHeaderCellDef> TITOLO </th>
      <td mat-cell *matCellDef="let element"> {{element.titoloEsternalizzazione}} </td>
    </ng-container>

    <!-- responsabile Column -->
    <ng-container matColumnDef="RESPONSABILE">
      <th mat-header-cell *matHeaderCellDef> RESPONSABILE </th>
      <td mat-cell *matCellDef="let element"> {{element.compilataDa}} </td>
    </ng-container>

    <ng-container matColumnDef = "nuovaRda">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <a href="https://www.mondo.sara.it/RichiesteDAcquisto/index.html" target="_blank"  
          style="z-index:1000;" class="btn edit-btn">
            <span>Nuova Rda</span></a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [routerLink]="['/esternalizzazione-dett', row.idEsternalizzazione]"
    routerLinkActive="router-link-active" (click)="viewDetails()" 
    *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator  [length]="length"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="pageEvent = getValutazione($event)" showFirstLastButtons></mat-paginator>
</div>

<div *ngIf="!view"  class="flex gif">
  <img src="https://it.dplay.com/00406/static/resources/images/spinner.gif">
</div>

  <div *ngIf="notResp">
    <h4>
      Nessuna Esternalizzazione presente
    </h4>
  </div>

