<div *ngIf="!saved">
    <div class="w-80">
      <div class="row m-t10" style="align-items: center">
        <div class="col-sm-2">
          Valutazione Rischio BC:
        </div>
        <div class="col-sm-10">
          <input type="text" 
          [(ngModel)]="esternalizzazione.valutazioneRischiBC"
          [disabled]="editCombinato || !(utente.zzenteacq=='052')">
        </div>
      </div>
  
      <div class="row" style="align-items:center">
      <div class="col-sm-2">
        Data Efficacia <br> Contratto :
      </div>
      <div class="col-sm-10">
            <app-date-picker format="DD/MM/YYYY" [disabled]="editCombinato"  
              placeholder="{{ esternalizzazione.dataEfficaciaContratto }}"
              [(ngModel)]="esternalizzazione.dataEfficaciaContratto" ></app-date-picker>
        </div>
      </div>
  
      <div class="row" style="align-items: center">
        <div class="col-sm-2">
          Durata Esternalizzazione:
        </div>
        <div class="col-sm-10">
          <input type="text" 
          [(ngModel)]="esternalizzazione.durataEsternalizzazione"
          [disabled]="editCombinato">
        </div>
      </div>
  
      <div class="row m-t10" style="align-items: center">
        <div class="col-sm-2">
          Numero Comunicazione IVASS:
        </div>
        <div class="col-sm-10">
          <input type="text" 
          [(ngModel)]="esternalizzazione.numeroComunicazioneIVASS"
          [disabled]="editCombinato || !(utente.zzenteacq=='059')">
        </div>
      </div>
      
      <div class="row" style="align-items:center">
        <div class="col-sm-2">
          Data Invio Comunicazione IVASS :
        </div>
        <div class="col-sm-10">
          <app-date-picker format="DD/MM/YYYY"
            placeholder="{{ esternalizzazione.dataInvioComunicazioneIVASS }}"
            [(ngModel)]="esternalizzazione.dataInvioComunicazioneIVASS"
            [disabled]="editCombinato || !(utente.zzenteacq=='059')"></app-date-picker>
        </div>
      </div>
  
      <div class="row m-t10" style="align-items: center">
        <div class="col-sm-2">
          Numero Protocollo Contrattuale:
        </div>
        <div class="col-sm-10">
          <input type="text" 
          [(ngModel)]="esternalizzazione.numeroProtocolloContrattuale"
          [disabled]="editCombinato ||  !(utente.zzenteacq=='052')">
        </div>
      </div>
  
      <div class="row m-t10" style="align-items: center">
        <div class="col-sm-2">
          Periodo Preavviso Contrattuale:
        </div>
        <div class="col-sm-10">
          <input type="text" 
          [(ngModel)]="esternalizzazione.periodoPreavvisoContrattuale"
          [disabled]="editCombinato ||  !(utente.zzenteacq=='052')">
        </div>
      </div>
  
      <div class="row" style="align-items: center">
        <div class="col-sm-2">
          Tipologia Rinnovo:
        </div>
        <div class="col-sm-10">
          <input type="text" 
          [(ngModel)]="esternalizzazione.tipologiaRinnovo"
          [disabled]="editCombinato ||  !(utente.zzenteacq=='052')">
        </div>
      </div>
  
      <div class="row" style="align-items: center">
        <div class="col-sm-2">
          Periodicità:
        </div>
        <div class="col-sm-10">
          <mat-form-field class="select w-70">
  
            <mat-select
            [(ngModel)]="esternalizzazione.periodicita"
            [disabled]="editCombinato || !(utente.zzenteacq=='052')"
            >
  
            <mat-option>--</mat-option>
            <mat-option *ngFor="let periodicita of listaPeriodicita" [value]="periodicita.codice">
              {{periodicita.descrizione}}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </div>
      </div>
  
      <div class="row" style="align-items: center">
        <div class="col-sm-2">
          SLA Contrattualmente Definiti *:
        </div>
        <div class="col-sm-10">
          <mat-form-field class="select w-70">
            <mat-select
              [(ngModel)]="esternalizzazione.slaContrattualmenteDefiniti"
              [disabled]="editCombinato"
            >
              <mat-option>--</mat-option>
              <mat-option value="Si">
                Si
              </mat-option>
              <mat-option value="No">
                No
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  
    <!-- SEZIONE CONTROLLI -->
  
    
  
    <div class="padding m-t10 " style="border: solid 1px #09357a;" 
    *ngIf="esternalizzazione.slaContrattualmenteDefiniti === 'Si'">
      <div class="row">
        <div class="col-sm-6 padding">
          <span style="align-content: center; color: #09357a">
            <h4>
              SEZIONE CONTROLLI
            </h4>
          </span>
        </div>

        <div class="col-sm-6 padding flex right">
          <button class="btn edit-btn" (click)="add()"> Nuovo Controllo </button>
        </div>
      </div>

      <div *ngIf="listaControlli">
        <div *ngFor="let controllo of esternalizzazione.listaControlli 
          let i = index" class="bordered m-t10 padding">
          <h5>
            ID ESTERNALIZZAZIONE: {{controllo.idEsternalizzazione}} <br>
            ID CONTROLLO: {{controllo.idControllo}}  
   
          </h5>
          <div class="flex right">
              <button class="btn resp-btn m-l10" (click)="remove(i)" *ngIf="!editCombinato"> Elimina Controllo </button>
          </div>


          <div class="row" style="align-items:center;">
            <div class="col-sm-2">
              Data Inizio :
            </div>
            <div class="col-sm-4">
              <app-date-picker placeholder = "{{controllo.dataInizioControllo}}"
              [(ngModel)]="controllo.dataInizioControllo"
              format = "DD/MM/YYYY"
              [disabled]="editCombinato"
              ></app-date-picker>
            </div>

            <div class="col-sm-2">
              Data Fine :
            </div>
            <div class="col-sm-4">
              <app-date-picker placeholder = "{{controllo.dataFineControllo}}"
              [(ngModel)]="controllo.dataFineControllo"
              format = "DD/MM/YYYY"
              [disabled]="editCombinato"
              ></app-date-picker>
            </div>
          </div>

          <div class="row" style="align-items: center;">
            <div class="col-sm-2" >
              Responsabile Singolo Controllo :
            </div>
            <div class="col-sm-4">
              <mat-form-field class="select w-70">
        
                <mat-select
                [(ngModel)]="controllo.responsabileSingoloControllo"
                [disabled]="editCombinato"
                >
        
                <mat-option>--</mat-option>
                <mat-option *ngFor="let conoRE of listaConoRE" [value]="conoRE.username">
                  {{conoRE.cognome}} - {{conoRE.nome}}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-2" >
              Tipo Controllo:
            </div>
            <div class="col-sm-4">
              <mat-form-field class="select w-70">
        
                <mat-select
                [(ngModel)]="controllo.tipoControllo"
                [disabled]="editCombinato"
                >
        
                <mat-option>--</mat-option>
                <mat-option *ngFor="let C of listaTipiControllo" [value]="C.codice">
                  {{C.descrizione}}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </div>
          </div>

         
          <div class="row m-t10" style="align-items: center;">
            <div class="col-sm-2">
              Descrione Controllo : 
            </div>
            <div class="col-sm-10">
              <textarea [(ngModel)]="controllo.descrizioneControllo"
               [disabled]="editCombinato" cols="100" rows="2"></textarea>
            </div>
          </div>


          <div class="row" style="align-items: center">
            <div class="col-sm-2">
              Vincolo Pagamento Fattura:
            </div>
            <div class="col-sm-4">
              <mat-form-field class="select w-70">
                <mat-select
                  [(ngModel)]="controllo.vincoloPagamentoFattura"
                  [disabled]="editCombinato"
                >
                  <mat-option>--</mat-option>
                  <mat-option value="Si">
                    Si
                  </mat-option>
                  <mat-option value="No">
                    No
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row" style="align-items: center">
            <div class="col-sm-2">
                Azioni Correttive : 
            </div>
            <div class="col-sm-4">
              <mat-form-field class="select w-70">
        
                <mat-select
                [(ngModel)]="controllo.azioneCorrettive"
                [disabled]="editCombinato"
                >
        
                <mat-option>--</mat-option>
                <mat-option *ngFor="let AC of listaAzioniCorrettice" [value]="AC.codice">
                  {{AC.descrizione}}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-2">
              Esiti del Controllo:
            </div>
            <div class="col-sm-4">
              <mat-form-field class="select w-70">
        
                <mat-select
                [(ngModel)]="controllo.esitoControllo"
                [disabled]="editCombinato"
                >
        
                <mat-option>--</mat-option>
                <mat-option *ngFor="let EC of listaEsitoControllo" [value]="EC.codice">
                  {{EC.descrizione}}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </div>

          </div>

          <div class="row" style="align-items: center;">
            <div class="col-sm-2" >
              Nota Azione Correttiva :
            </div>
            <div class="col-sm-4">
              <textarea [(ngModel)]="controllo.notaAzioneCorrettiva"
               [disabled]="editCombinato" cols="40" rows="2"></textarea>
            </div>

            <div class="col-sm-2">
              Descrizione Esito Controllo :
            </div>

            <div class="col-sm-4">
              <textarea [(ngModel)]="controllo.descrizioneEsitoControllo"
               [disabled]="editCombinato" cols="40" rows="2"></textarea>
            </div>
          </div>

        </div>
      </div>
      
      <div *ngIf="!listaControlli">
          <div> ID ESTERNALIZZAZIONE: {{singoloControllo.idEsternalizzazione}}  </div>
          <div> ID CONTROLLO: {{singoloControllo.idControllo}}  </div> 

          <div>
            <button class="btn btn-success" (click)="salvaModiche()" >salva</button>
          </div>

          <div class="row" style="align-items:center;">
            <div class="col-sm-2">
              Data Inizio :
            </div>
            <div class="col-sm-4">
              <app-date-picker placeholder = "{{singoloControllo.dataInizioControllo}}"
              [(ngModel)]="singoloControllo.dataInizioControllo"
              format = "DD/MM/YYYY"
              [disabled]="false"
              ></app-date-picker>
            </div>

            <div class="col-sm-2">
              Data Fine :
            </div>
            <div class="col-sm-4">
              <app-date-picker placeholder = "{{singoloControllo.dataFineControllo}}"
              [(ngModel)]="singoloControllo.dataFineControllo"
              format = "DD/MM/YYYY"
              [disabled]="false"
              ></app-date-picker>
            </div>
          </div>

          <div class="row" style="align-items: center;">
            <div class="col-sm-2" >
              Responsabile Singolo Controllo :
            </div>
            <div class="col-sm-4">
              <mat-form-field class="select w-70">
        
                <mat-select
                [(ngModel)]="singoloControllo.responsabileSingoloControllo"
                [disabled]="false"
                >
        
                <mat-option>--</mat-option>
                <mat-option *ngFor="let conoRE of listaConoRE" [value]="conoRE.username">
                  {{conoRE.cognome}} - {{conoRE.nome}}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-2" >
              Tipo Controllo:
            </div>
            <div class="col-sm-4">
              <mat-form-field class="select w-70">
        
                <mat-select
                [(ngModel)]="singoloControllo.tipoControllo"
                [disabled]="false"
                >
        
                <mat-option>--</mat-option>
                <mat-option *ngFor="let C of listaTipiControllo" [value]="C.codice">
                  {{C.descrizione}}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </div>
          </div>

         
          <div class="row m-t10" style="align-items: center;">
            <div class="col-sm-2">
              Descrione Controllo : 
            </div>
            <div class="col-sm-10">
              <textarea [(ngModel)]="singoloControllo.descrizioneControllo"
               [disabled]="false" cols="100" rows="2"></textarea>
            </div>
          </div>


          <div class="row" style="align-items: center">
            <div class="col-sm-2">
              Vincolo Pagamento Fattura:
            </div>
            <div class="col-sm-4">
              <mat-form-field class="select w-70">
                <mat-select
                  [(ngModel)]="singoloControllo.vincoloPagamentoFattura"
                  [disabled]="editCombinato"
                >
                  <mat-option>--</mat-option>
                  <mat-option value="Si">
                    Si
                  </mat-option>
                  <mat-option value="No">
                    No
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row" style="align-items: center">
            <div class="col-sm-2">
                Azioni Correttive : 
            </div>
            <div class="col-sm-4">
              <mat-form-field class="select w-70">
        
                <mat-select
                [(ngModel)]="singoloControllo.azioneCorrettive"
                [disabled]="false"
                >
        
                <mat-option>--</mat-option>
                <mat-option *ngFor="let AC of listaAzioniCorrettice" [value]="AC.codice">
                  {{AC.descrizione}}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </div>
            
            <div class="col-sm-2">
              Esiti del Controllo:
            </div>
            <div class="col-sm-4">
              <mat-form-field class="select w-70">
        
                <mat-select
                [(ngModel)]="singoloControllo.esitoControllo"
                [disabled]="false"
                >
        
                <mat-option>--</mat-option>
                <mat-option *ngFor="let EC of listaEsitoControllo" [value]="EC.codice">
                  {{EC.descrizione}}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </div>
            
          </div>

          <div class="row" style="align-items: center;">
            <div class="col-sm-2" >
              Nota Azione Correttiva :
            </div>
            <div class="col-sm-4">
              <textarea [(ngModel)]="singoloControllo.notaAzioneCorrettiva"
               [disabled]="false" cols="40" rows="2"></textarea>
            </div>
            <div class="col-sm-2">
              Descrizione Esito Controllo :
            </div>

            <div class="col-sm-4">
              <textarea [(ngModel)]="singoloControllo.descrizioneEsitoControllo"
               [disabled]="false" cols="40" rows="2"></textarea>
            </div>
          </div>

      </div>
  
    </div>
  
    <br>
  
  
  </div>
  
  <div *ngIf="gif" class="flex gif">
    <img src="https://it.dplay.com/00406/static/resources/images/spinner.gif" />
  </div>
  
  <div *ngIf="savedMessage">
    <h4>
      ESTERNALIZZAZIONE SALVATA CORRETTAMENTE
    </h4>
    <button routerLink="" routerLinkActive="router-link-active" class="btn edit-btn" >
      OK
    </button>
  </div>
