<div #spacer></div>
<div stickyThing [spacer]="spacer" style="z-index:5; margin-top: 5px;" >
  <div class="flex right">
    <div class="flex m-r">
      <input
        class="form-control"
        type="search"
        placeholder="Cerca.."
        aria-label="Cerca"
      />
      <button class="btn search-button" style="margin-left: 2px;" type="submit">Cerca</button>
    </div>
  </div>
</div>
