.search-button:hover {
  border: solid 0.5px;
  background-color: white;
  color: #09357a;
  cursor: pointer;
}

.search-button {
  background-color: #09357a;
  color: white;
  margin-left: 1px;
}

.m-r {
  margin-right: 2.5%;
  position: relative;
  width: 30%;

}
