<!-- <app-login (logged)="logIn($event)" *ngIf="!log"></app-login> -->

<div style="height: 90%;" *ngIf="true" >
  <div class="flex" style="height: 100%;">
    <app-body class="w-100 padding"></app-body>
  </div>
</div>

<!-- <div style="height: 90%;" *ngIf="log" >
    <div class="flex" style="height: 100%;">
      <app-body class="w-100 padding"></app-body>
    </div>
  </div>
   -->