<mat-form-field>
  <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
  <input matInput [matDatepicker]="picker" [min]="minDate" [value]="dateValue" (dateInput)="addEvent('input', $event)"
    [placeholder]="placeholder" [disabled]="disabled" >
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
