<div *ngIf="view">

    <div class="flex" style="align-items: center;">
        <div class="m-l10 " style="margin-right: 25%;">
            <h4>
                Dettaglio Task : {{task.idTask}}
            </h4>
        </div>
        
        <app-actions-bar-task (editOutput)="edit = $event"></app-actions-bar-task>
    </div>

    <div class="flex bordered padding m-l10">
        <div class="w-80 font ">
    
            <div class="row" style="align-items:center;">
                <div class="col-sm-2">
                    ID Esternalizzazione :
                </div>
                <div class="col-sm-4">
                    <input 
                        type="text"
                        [(ngModel)]="task.idEsternalizzazione"
                        [disabled]="edit" >
                </div>
                
                <div class="col-sm-2">
                    Data Creazione :
                </div>
                <div class="col-sm-4">
                      <app-date-picker   
                      placeholder="{{task.dataCreazione}}"
                      [(ngModel)]="task.dataCreazione"
                      [disabled]="edit"
                      format= "DD/MM/YYYY" ></app-date-picker>
                </div>
                
            </div>
            
            <div class="row" style="align-items:center;">
                <div class="col-sm-2">
                    Data Assegnazione :
                </div>
                <div class="col-sm-4">
                      <app-date-picker 
                      placeholder="{{task.dataAssegnazione}}"
                      [(ngModel)]="task.dataAssegnazione"
                      [disabled]="edit"
                      format= "DD/MM/YYYY"></app-date-picker>
                </div>

                <div class="col-sm-2">
                    Data Fine :
                </div>
                <div class="col-sm-4">
                      <app-date-picker 
                      placeholder="{{task.dataFine}}"
                      [(ngModel)]="task.dataFine"
                      [disabled]="edit"
                      format= "DD/MM/YYYY"></app-date-picker>
                </div>
            </div>
        
            <div class="row" style="align-items:center;">
                <div class="col-sm-2">
                    Utente Owner :
                </div>
                <div class="col-sm-10">
                    <input 
                        type="text"
                        [(ngModel)]="task.utenteOwner"
                        [disabled]="edit" >
                </div>
            </div>

            <div class="row m-t10" style="align-items:center;">
                <div class="col-sm-2">
                    Responsabile :
                </div>
                <div class="col-sm-10">
                    <input 
                        type="text"
                        [(ngModel)]="task.utenteResponsabile"
                        [disabled]="edit" >
                </div>
            </div>

            <div class="row" style="align-items: center;">
                <div class="col-sm-2">
                    Tipologia Task:
                </div>
                <div class="col-sm-10">
                    <mat-form-field class="select w-70">

                        <mat-select
                        [(ngModel)]="task.idTipoTask"
                        [disabled]="edit"
                        >
            
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let tipo of listaTipologiaTask" [value]="tipo.codice">
                          {{tipo.descrizione}}
                        </mat-option>
                      </mat-select>
                      </mat-form-field>
                </div>
            </div>

            <div class="row" style="align-items: center;">
                <div class="col-sm-2">
                    Stato:
                </div>
                <div class="col-sm-10">
                    <mat-form-field class="select w-70">

                        <mat-select
                        [(ngModel)]="task.stato"
                        [disabled]="edit"
                        >
            
                        <mat-option>--</mat-option>
                        <mat-option value="A">Aperto</mat-option>
                        <mat-option value="C">Chiuso</mat-option>
                        <mat-option value="V">Validazione</mat-option>
                      </mat-select>
                      </mat-form-field>
                </div>
            </div>

            <div class="row" style="align-items: center;">
                <div class="col-sm-2">
                    Competenza:
                </div>
                <div class="col-sm-10">
                    <mat-form-field class="select w-70">

                        <mat-select
                        [(ngModel)]="task.idTipoUtente"
                        [disabled]="edit"
                        >
            
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let tipo of listaTipiUtente" [value]="tipo.codice">
                          {{tipo.descrizione}}
                        </mat-option>
                      </mat-select>
                      </mat-form-field>
                </div>
            </div>

            <div>
                <div>
                    <h4>
                        Esternalizzazione
                    </h4>
                </div>
                <div class="row" style="align-items:center;">
                    <div class="col-sm-2">
                        Campo :
                    </div>
                    <div class="col-sm-10">
                        <input 
                            type="text"
                            [(ngModel)]="task.tipoCampoAttivatoEst"
                            [disabled]="true" >
                    </div>
                </div>
    
                <div class="row m-t10" style="align-items:center;">
                    <div class="col-sm-2">
                        Fase :
                    </div>
                    <div class="col-sm-10">
                        <input 
                            type="text"
                            [(ngModel)]="task.faseEsternalizzazione"
                            [disabled]="true" >
                    </div>
                </div>
            </div>

        </div>

        <div class="allegati padding w-20 m-t10">

                <h4>Allegati Task</h4>
              
                      <div *ngIf="fileTask.length!==0">
                          <div class="animation" *ngFor="let file of fileTask">
                              {{file.nomeFileOrigine}}
                          </div>
                        </div>
                    
                        <div *ngIf="fileTask.length === 0">
                            Nessun File Presente
                        </div>
              </div>
    </div>

    <br/>
    
</div>

<div *ngIf="!view"  class="flex gif">
    <img src="https://it.dplay.com/00406/static/resources/images/spinner.gif">
</div>
