<div *ngIf="!saved">
    <div class="flex">
        <div class=" w-80">
          <div class="row m-t10" style="align-items: center;">
            <div class="col-sm-2">
              Data Creazione:
            </div>
            <div class="col-sm-10">

              <app-date-picker format="DD/MM/YYYY"
              [disabled]="true" [(ngModel)]="esternalizzazione.dataCreazioneEsternalizzazione"
              placeholder="{{esternalizzazione.dataCreazioneEsternalizzazione}}"></app-date-picker>
            </div>
          </div>
          
        
          <div class="row m-t10">
            <div class="col-sm-2">
              Titolo* :
            </div>
            <div class="col-sm-10">
                 <input type="text"
                  [(ngModel)]="esternalizzazione.titoloEsternalizzazione"
                  [disabled]="editCombinato"
                 >
                 
                 <h5  *ngIf="errTitolo" style="color:red;">
                   Campo Obbligatorio
                 </h5>
            </div>
          </div>
        
          <div class="row m-t10" style="align-items: center;" >
            <div class="col-sm-2">
              Tipologia Esternalizzazione* :
            </div>
            <div class="col-sm-10">
              <mat-form-field class="select w-70">
        
                <mat-select
                [(ngModel)]="esternalizzazione.tipoEsternalizzazione"
                [disabled]="editCombinato"
                >
        
                <mat-option>--</mat-option>
                <mat-option *ngFor="let tipologia of listaTipologiaEsternalizzazioni" [value]="tipologia.codice">
                 {{tipologia.descrizione}}
                </mat-option>
              </mat-select>
              </mat-form-field>
              
              <h5  *ngIf="errTipo" style="color:red;">
                  Campo Obbligatorio
              </h5>
           </div>
          </div>
        
         <div *ngIf="esternalizzazione.stato === '2' || esternalizzazione.stato === '3' ">
          <div class="row m-t10">
            <div class="col-sm-2">
              Compilata Da:
            </div>
            <div class="col-sm-10">
                <input type="text"
                [(ngModel)]="esternalizzazione.compilataDa" 
                [disabled]="editCombinato">
            </div>
          </div>
         </div>
      
         <div *ngIf="esternalizzazione.stato === '1'" >
          <div class="row m-t10">
            <div class="col-sm-2">
              Compilata Da:
            </div>
            <div class="col-sm-10">
                <input type="text"
                  [(ngModel)]="username"          
                  [disabled]="true">
            </div>
          </div>
         </div>
        
          <div class="row m-t10" *ngIf="esternalizzazione.stato === '2' || esternalizzazione.stato === '3'">
            <div class="col-sm-2">
              Data Modifica Tipologia:
            </div>
            <div class="col-sm-10">

              <app-date-picker [disabled]="editCombinato" 
              [(ngModel)]="esternalizzazione.dataModificaTipologiaEsternalizzazione"
              format="DD/MM/YYYY" placeholder="{{esternalizzazione.dataModificaTipologiaEsternalizzazione}}"></app-date-picker>
            </div>
          </div>
      
          <div class="row m-t10" *ngIf="esternalizzazione.stato === '1'" >
              <div class="col-sm-2">
                Data Modifica Tipologia:
              </div>
              <div class="col-sm-10">
                  <div class="col-sm-10">

                      <app-date-picker [disabled]="true" 
                      [(ngModel)]="esternalizzazione.dataModificaTipologiaEsternalizzazione"
                      placeholder="{{esternalizzazione.dataModificaTipologiaEsternalizzazione}}" format="DD/MM/YYYY" ></app-date-picker>
                    </div>
            </div>
          </div>
        
          <div class="row m-t10" style="align-items: center">
            <div class="col-sm-2">
              Utente Modifica:
            </div>
            <div class="col-sm-10">
                <input type="text"
                [(ngModel)]="esternalizzazione.utenteModificaEsternalizzazione"
                [disabled]="true"
                >
            </div>
          </div>
        
          <div class="row m-t10">
           <div class="col-sm-2">
            Motivazione* :
           </div>
            <div class="col-sm-10">
                <input type="text"
                [(ngModel)]="esternalizzazione.motivazioneEsternalizzazione"
                [disabled]="editCombinato">
      
                <h5  *ngIf="errMotivazione" style="color:red;">
                    Campo Obbligatorio
                </h5>
            </div>
          </div>

          <div class="row m-t10" style="align-items: center">
              <div class="col-sm-2">
               Oggetto Attivita Esternalizzata :
              </div>
               <div class="col-sm-10">
                   <input type="text"
                   [(ngModel)]="esternalizzazione.oggettoAttivita"
                   [disabled]="editCombinato">
               </div>
             </div>
        
         
        </div>
      
      </div>
      
</div>

<div *ngIf="gif" class="flex gif">
    <img src="https://it.dplay.com/00406/static/resources/images/spinner.gif" />
  </div>

<div *ngIf="savedMessage">
    <h4>
      ESTERNALIZZAZIONE SALVATA CORRETTAMENTE
    </h4>
    <button routerLink="" routerLinkActive="router-link-active" class="btn edit-btn" >
      OK
    </button>
</div>