<h2>Estrazione</h2>

<div style="color: #09357a;" class="w-100 flex center">
  <form [formGroup]="estrazione">
    <br />

    <mat-form-field class="select">
      <mat-select
        placeholder="Responsabile Controllo"
        [formControl]="responsabileControllo"
        required
      >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let RE of listaConoRE" [value]="RE">
          {{ RE.nome }} {{ RE.cognome }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="responsabileControllo.hasError('required')"
        >Campo Obbligatorio</mat-error
      >
    </mat-form-field>

    <br />

    <mat-form-field class="select" >
      <mat-select
        placeholder="Responsabile Singolo Controllo"
        [formControl]="responsabileSingoloControllo"
        required
      >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let RE of listaConoRE" [value]="RE">
          {{ RE.nome }} {{ RE.cognome }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="responsabileSingoloControllo.hasError('required')"
        >Campo Obbligatorio</mat-error
      >
    </mat-form-field>

    <br />

    <mat-form-field class="select">
      <mat-select placeholder="Funzione" [formControl]="funzione" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let f of funzioni" [value]="f">
          {{ f.funzione }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="funzione.hasError('required')"
        >Campo Obbligatorio</mat-error
      >
    </mat-form-field>

    <br />

    <div class="flex center">
      <input type="submit" class="btn login-button" value="Ricerca" />
    </div>
  </form>
</div>
