.login-button:hover {
  border: solid 0.5px;
  background-color: white;
  color: #09357a;
  cursor: pointer;
}


.login-button {
  background-color: #09357a;
  color: white;
  margin-top: 5px;

}

.select{
  width: 350px;
}
