<div style="color: #09357a;" class="w-100">
  <app-search-bar></app-search-bar>

  <h3>Fase Valutazione Outsourcing</h3>

     <div *ngIf="view">
        <div class="div-title" *ngIf="user.responsabile === 'RE'">
          <button
            type="button"
            class="btn edit-btn"
            style="margin-left:20px;margin-top: 10px;"
           [routerLink]="['/esternalizzazione-dett' , 'new' ]" 
           routerLinkActive="router-link-active" 
          >
            Nuova Esternalizzazione
          </button>
        </div>
       </div>


  <app-outsourcing></app-outsourcing>
</div>
