<div *ngIf="resp" style="margin-top:10px;">
  <table mat-table  [dataSource]="dataSource">

    <!-- id Column -->
    <ng-container matColumnDef="ID TASK">
      <th mat-header-cell *matHeaderCellDef> ID TASK </th>
      <td mat-cell *matCellDef="let element"> {{element.idTask}} </td>
    </ng-container>

    <!-- data creazione Column -->
    <ng-container matColumnDef="DATA CREAZIONE">
      <th mat-header-cell *matHeaderCellDef> DATA CREAZIONE </th>
      <td mat-cell *matCellDef="let element"> {{element.dataCreazione}} </td>
    </ng-container>

    <ng-container matColumnDef="RE">
      <th mat-header-cell *matHeaderCellDef> RE </th>
      <td mat-cell *matCellDef="let element"> {{element.utenteResponsabile}} </td>
    </ng-container>


    <!-- titolo Column -->
    <ng-container matColumnDef="UTENTE DELEGATO">
      <th mat-header-cell *matHeaderCellDef> UTENTE DELEGATO </th>
      <td mat-cell *matCellDef="let element"> {{element.utenteDelegato}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
       [routerLink]="['/task-details', row.idTask]"
       routerLinkActive="router-link-active"
        (click)="viewDetails(row)"></tr>
  </table>

  <mat-paginator  [length]="length"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="pageEvent = getListaTaskApp($event)" showFirstLastButtons></mat-paginator>
</div>

<div *ngIf="!view"  class="flex gif">
  <img src="https://it.dplay.com/00406/static/resources/images/spinner.gif">
</div>

  <div *ngIf="notResp">
    <h4>
      Nessun Task presente
    </h4>
  </div>
