/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.m-t10 {
  margin-top: 10px;
}
.m-b10 {
  margin-bottom: 10px;
}

.bold{
  font: bold 11px Arial;
}

.w-50{
   width: 50%;
}

.west{
   font-size: 20px;
   color: #09357a;
}

.flex{
  display: flex;
}

.w-30{
  width: 30%;
}

.w-90{
  width: 90%;
}

.w-10{
  width: 10%;
}

.w-25{
width: 25%;
}

.w-20{
  width: 20%;
}

.w-75{
  width: 75%;
}

.w-50{
  width: 50%;
}

.w-80 {
  width: 80%;
}

.w-70{
  width: 70%;
}

.w-100{
  width: 100%;
}

.right{
  justify-content: flex-end;
}

.left{
  text-align: left;
}

.f-20{
  font-size: 20px;
}

.f-15{
  font-size: 15px;
}

.f-18{
  font-size: 18px;
}

.div-title {
  display: flex;
  align-items:center;
  justify-content:flex-end;
  padding-right: 7.8%;
}


.icon{
width: 25px;
margin-left: 5px;
}

.height {
  height: inherit;
}

.mat-row:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}

.gif {
  justify-content: center;
  align-items: center;
}

.center {
  justify-content: center;
}

.padding {
  padding: 10px;
}

.m-l10 {
  margin-left: 10px;
}

.font {
  font-size: 18px;
  color: #09357a;
}

.m-r10{
  margin-right: 10px;
}

.animation:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}


input {
  color: #09357a;
  margin-left: 2px;
  margin-bottom: 5px;
  width: 70%;
  padding-left: 5px;
}

.allegati {
  border: solid 1px;
}

.bordered {
  border: solid 1px #09357a;
}

.edit-btn {
  background-color:#15BD17;
  color: white;
}

.edit-btn:hover {
  background-color: white;
  color: #15BD17;
  border: solid 0.5px;
  cursor: pointer;
}